<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue.js grid component example</title>
    <link rel="stylesheet" href="style.css">
    <script src="../../dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
  <body>
  <div id="app">
    <h1 style="text-align:center;">{{heading}}</h1>
    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <div v-if="loading">Loading...</div>
    <div  v-for="currency in info" class="currency">
      <h3>{{currency.description}}</h3>
      <p><span>{{currency.code}}</span>:{{currency.rate_float | decimal }}</p>

    </div>
  </div>
  <script>
        new Vue({
            el: '#app',
            data () {
                return {
                    info: null,
                    loading: true,
                    errored: false,
                    heading: 'Jaffar Currency'
                }
            },
            filters: {
                decimal (value) {
                    return value.toFixed(2)
                }
            },
            mounted () {
                axios
                    .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                    .then(response => {
                        this.heading = response.data.chartName
                        this.info = response.data.bpi
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() =>  this.loading = false)
            }
        })
    </script>


  </body>
</html>
