.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 60%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #262626;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.rating_star{

  padding: 10px;
}
.rating_star span.excellent{
  border-radius: 4px 0 0 4px !important;
  border-left-color: #368c2e !important;
  border-left-width: 1px!important;
  background: #368c2e !important;

}

.rating_star span.good{
  border-radius: 4px 0 0 4px !important;
  border-left-color: #8ec30a !important;
  border-left-width: 1px!important;
  background: #8ec30a !important;

}
.rating_star span.average{
  border-radius: 4px 0 0 4px !important;
  border-left-color: #ecdc09 !important;
  border-left-width: 1px!important;
  background: #ecdc09 !important;

}
.rating_star span.fair{
  border-radius: 4px 0 0 4px !important;
  border-left-color: #de9604 !important;
  border-left-width: 1px!important;
  background: #de9604 !important;

}
.rating_star span.poor{
  border-radius: 4px 0 0 4px !important;
  border-left-color: #c00 !important;
  border-left-width: 1px!important;
  background: #c00!important;

}


.rating_star span.fa{
  border-radius: 4px 0 0 4px;
  border-left-color: #d0d0d0;
  border-left-width: 1px;
  background: #ebebeb;
  font-size:36px;
  padding:10px;
}

.rating_star span.fa::before{
  color:  #fff;
}


.control-label{padding:24px;}
.modal-footer{border:none;
}